[submodule "Fibonacci numbers"]
	path = Fibonacci numbers
	url = https://github.com/kamibrenda/Fibonacci-Python
[submodule "FizzBuzz math problem"]
	path = FizzBuzz math problem
	url = https://github.com/kamibrenda/FizzBuzz
[submodule "FizzBuzz"]
	path = FizzBuzz
	url = https://github.com/kamibrenda/FizzBuzz
